@use './variables.scss' as *;
@font-face {
    font-family: 'Share Tech Mono', monospace;
    src: url('../../assets//fonts/ShareTechMono-Regular.ttf') format('truetype');
}


*
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Share Tech Mono', sans-serif;
    background-color: $background-color-primary;
    color: $font-color-primary;
}

