
$background-color-primary: rgb(32,33,36);
$background-color-secondary: rgb(95,99,104);
$purple-primary: #BB86FC;

$test-color: rgb(60,64,47);
$loading-shine-color: rgb(95,99,104);
$luxe-secondary-color: rgba(57,68,87,1);

$uv-styles-color-review-stars: #fdd663;
$uv-styles-color-text-primary: #8ab4f8;


$font-color-primary: rgb(227,227,227);

