@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500);

body {
  background-color: #222;
  @include background-image(linear-gradient(top, rgba(#111,1) 0%,rgba(#222,1) 50%,rgba(#111,1) 100%));
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100vw;
}

#title {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 20px;
  letter-spacing: .5em;
  z-index: 100;
}