@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-left: 2rem;
  background-color: #000000;
  background-image: url('../../assets/images/waves.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 25%;

  
  

  @include tablet {
    padding-left: 6rem;
  }

  @include desktop {
    padding-left: 8rem;
  }

  // &__wrapper {
  //   background-image: url('../../assets/images/waves.gif');
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: right;
  // }

  &__header {
    font-size: 42px;
    font-weight: $font-weight-bold;

    @include tablet {
      font-size: 68px;
      font-weight: $font-weight-regular;
      width: 50%;
    }

    @include desktop {
      display: flex;
      flex-direction: column;
      font-size: 88px;
      color: #ffffff;
      word-wrap: break-word;
      width: 50%;
      margin: 0;
      font-family: "Gotham", monospace;
      font-weight: $font-weight-regular;
    }
  }

  &__text {
    font-size: 13px;
    padding-top: 0.5rem;

    @include tablet {
      font-size: 21px;
    }
    @include desktop {
      padding-top: 1rem;
      font-size: 21px;
    }
  }

  &__icon-container {
    padding-top: 2rem;
  }

  &__icon {
    height: 50px;
    width: 50px;
    @include tablet {
      height: 60px;
      width: 60px;
    }
  }
}
