
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-left: 8rem;

    

    &__header {
        display: flex;
        flex-direction: column;
        font-size: 5.5rem;
        color: #FFFFFF;
        word-wrap: break-word;
        width: 50%;
        margin: 0;
        font-family: 'Share Tech Mono', monospace;
    }

    &__text {
        padding-top: 0.5rem;
        font-size: 1rem;
        font-family: 'Share Tech Mono', monospace;
    }

    &__icon-container {
        padding-top: 2rem;
    }

    &__icon {
        height: 50px;
        width: 50px;
    }


    &__vector {
        @keyframes move_line {
            0% {
              transform: translateX(0);
            }
            100% {
              transform: translateX(100%);
            }
          }
          
          .abstract-line {
            position: absolute;
            animation: move_line 5s linear infinite;
          }
    }

}