@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/global.scss" as *;

.dashboard {
  padding: 2rem 1rem 1rem 1rem;
  width: 100%;
  @include tablet {
    padding: 2.5rem;
    overflow: visible;
  }

  &--container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include tablet {
      display: flex;
      align-items: center;
      gap: 200px;
    }
  }

  &__selected-btn {
    border: none;
    background-color: transparent;
    padding: 2rem 0rem 2rem 0rem;
    @include tablet {
      font-size: 16px;
      min-width: 150px;
      text-align: center;
    }
  }

  &__icons {
    width: 50px;
    height: 50px;
    @include tablet {
      width: 100px;
      height: 100px;
    }

    &--container {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        width: 150px;
      }
    }
  }

  &__selected-btn.active {
    border-bottom: 2px solid $secondary-color-green;
    @include tablet {
      min-width: 150px;
      text-align: center;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 4rem;
    padding-bottom: 2rem;
    @include tablet {
      display: flex;
      gap: 200px;
      padding-bottom: 5rem;
      padding-top: 8rem;
    }
  }

  &__nav-list {
    margin-top: 0.5rem;
    font-size: 13px;
    @include tablet {
      margin-top: 1rem;
      font-size: 18px;
      min-width: 150px;
      text-align: center;
    }

    &--arrow {
      color: $secondary-color-green;
    }
  }

  &__dropdown-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__dropdown {
    position: relative;
    display: flex;
    align-items: center;

    &--item {
      background-color: #242424;
      transition: background-color 0.3s ease;
      border-radius: 20px;
      color: #ffffff;
      padding: 7px;
      font-size: 13px;
      border: none;
      cursor: pointer;
      margin-top: 0.5rem;
      display: block;
      z-index: 1;
      text-align: center;
      text-wrap: nowrap;

      &:hover {
        background-color: $secondary-color-green;
        cursor: pointer;
      }
      @include tablet {
        padding: 14px;
        font-size: 16px;
      }
    }
  }

  &__button {
    color: #ffffff;
    width: 175px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  &__pages {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    @include tablet {
      width: 100%;
      padding-top: 2rem;
    }
  }

  &__btn {
    border: none;
    background-color: transparent;
    font-family: "Gotham", monospace;
    margin-right: 4rem;
  }
}
