@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/global.scss" as *;

.dashboard {
  margin: 1.5rem;

  &__hero {
    display: flex;
    flex-direction: row;
    padding: 5rem 0rem 2rem 0rem;
    justify-content: center;
    align-items: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      width: 250px;
      height: 38px;
      background-color: $background-color-primary;
    }
  }

  &__button {
    color: #ffffff;
    width: 175px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }

  &__btn {
    border: none;
    background-color: transparent;
    font-family: "Gotham", monospace;
    margin-right: 4rem;
  }
}
